/*Estilos del Index*/
    #ContenidoPrincipal{
        display: grid;
        width: 70%;
        margin-left: 15%;
        grid-template-areas: "carrusel" "contenido";
        justify-content: center;
        align-items: center;
        .contenidoInferior{
            grid-area: contenido;
            margin: 30px;
            display: grid;
            grid-template-areas: "noticia aside";
            align-items: center;
            justify-content: center;
            .contenedor-noticias{
                grid-area: noticia;
                .blog-noticia1 {
                    margin-bottom: 20px;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), map-get($coloresPrincipales, primero)),url(../img/fondo.png);
                    background-size: cover;
                    background-position: center;
                    border-radius: 15px;
                    font-family: 'Cairo';
                    display: flex;
                    padding: 20px;
                    flex-direction: column;
                    justify-content: center;
                    text-align: justify;
                    align-items: center;
                    transition: transform 0.5s;
                    h2{
                        color:$colorTituloNoticia;
                    }
                    h4 {
                        color:$colorSubTituloNoticia;
                    }
                    p {
                        color:$colorContenidoNoticia;
                        margin-left: 5%;
                        margin-right: 5%;
                        a{
                            text-decoration: none;
                            color:$colorContenidoNoticia
                        }
                    }&:hover{
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }
                .blog-noticia2 {
                    margin-bottom: 20px;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), map-get($coloresPrincipales, primero)),url(../img/servicio2.png);
                    background-size: cover;
                    background-position: center;
                    border-radius: 15px;
                    font-family: 'Cairo';
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: justify;
                    transition: transform 0.5s;
                    padding: 20px;
                    h2{
                        color:$colorTituloNoticia;
                    }
                    h4 {
                        color:$colorSubTituloNoticia;
                    }
                    p {
                        color:$colorContenidoNoticia;
                        margin-left: 5%;
                        margin-right: 5%;
                        a{
                            text-decoration: none;
                            color:$colorContenidoNoticia
                        }
                    }&:hover{
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }
            }
            #resumenNoticias {
                grid-area: aside;
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), map-get($coloresPrincipales, primero)),url(../img/personal.png);
                background-size: cover;
                background-position: center;
                border-radius: 15px;
                padding: 20px;
                margin-left: 15px;
                margin-bottom: 15px;
                font-family: 'Cairo';
                height: 98%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
                align-items: center;
                transition: transform 0.5s;
                h2{
                    color:$colorTituloNoticia;
                }
                h4 {
                    color:$colorSubTituloNoticia;
                }
                p {
                    color:$colorContenidoNoticia;
                    margin-left: 5%;
                    margin-right: 5%;
                    a{
                        text-decoration: none;
                        color:$colorContenidoNoticia
                    }
                }&:hover{
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }

    #Carrusel{
        display: flex;
        justify-content: center;
        margin: 30px;
        grid-area: carrusel;
        #carouselExampleCaptions{¿
            .carousel-item {
                img {
                    max-height: 100%; /* Asegura que las imágenes no excedan la altura del contenedor */
                    margin: 0 auto; /* Centra horizontalmente las imágenes */
                }
            }
            h5{
                color:$colorLetraCarrusel;
                font-weight: bold;
                font-family: Geologica;
            }
            p{
                color: $colorLetraCarrusel;
                font-weight: bold;
                font-family: Geologica;
            }
        }
    }

    @media (max-width: 544px){
        #ContenidoPrincipal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: justify;
            .contenidoInferior{
                width: 70%;
                display: grid;
                grid-template-areas:    "noticia" 
                                        "aside";
            }
        }
    }